		*{
			font-family: 'Catamaran', sans-serif;
			
		}
		body {
			margin: 0px;
		}

		/*DOCTOR PROFILE */

		
		.first {
			display: flex;			
			text-align: center;
			padding: 5%;
    		height:10%;

		}
		
		.card {
			text-align: center;
			width: 70%;
			margin: auto;
			background: white;
			padding: 1%;
			margin-top: 5%;
			box-shadow: 0px 0px 20px #888;
		    

		}
		
		 
		.detail {
			text-align: left;
			width: 50%;
			
		}
		
		.pic {
			width: 50%;
		}
		
		.profile-body {
			background: lightgrey;
			width: 100%;
			margin: 0px;
			
		}
		.second {
			height: 50%;
			
		}
		
		.second ul.tab {
		    list-style-type: none;
		    margin: auto;
		    padding: 0;
		    overflow: hidden;
		    background-color: #333;
		    text-align: center;
		    display: flex;
		}

		.second ul.tab li a {
		    display: inline-block;
		    color: #f2f2f2;
		    text-align: center;
		    padding: 10px;
		    text-decoration: none;
		    transition: 0.3s;
		    font-size: 17px;
		}
		.second ul.tab li a:hover {background-color: #555;}

		/*INDEX*/

		.header {
			text-align: center;
			padding: 0.5%;
			background: #1a056d;
		}
		.logo {
			width: 30%;
		}
		.search {
			text-align: center;
			margin: 0px;
		}
		.search img {
			width:15%;
			padding: 2%;
			padding-top: 10%;
		}


		.sidenav {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    background-color: #111;
		    overflow-x: hidden;
		    transition: 0.5s;
		    padding-top: 60px;
		}

		.sidenav a {
		    padding: 8px 8px 8px 32px;
		    text-decoration: none;
		    font-size: 25px;
		    color: #818181;
		    display: block;
		    transition: 0.3s;
		}

		.sidenav a:hover, .offcanvas a:focus {
		    color: #f1f1f1;
		}

		.sidenav .closebtn {
		    position: absolute;
		    top: 0;
		    right: 25px;
		    font-size: 40px;
		    margin-left: 50px;
		    color: white;
		    vertical-align: middle;
		    
		}
		#main {
		    transition: margin-left .5s;
		}

		.searchtext {
			width: 15%;
			padding: 0.3%;	
			font-size: 20px;
			margin: 1.5%;
			border: none;
		  	border-bottom: solid 2px #c9c9c9;
		  	transition: border 0.3s;
		}

		.searchformsubmit {
			border: 0px;
			background: indigo;
			color: white;
			width: 10%;
			font-size: 18px;
			padding: 0.3%;
			
		}

		/*DOCTOR LOGIN*/

		.login-card {
			text-align: center;
			width: 25%;
			margin: auto;
			background: white;
			padding: 2%;
			margin-top: 5%;
			min-height: 60vh;
			box-shadow: 0px 0px 20px black;

		}
		
       
		.login-submit  {
			border: 0px;
			background: indigo;
			color: white;
			width: 30%;
			padding: 1%;
		}

		.login-details {
			padding-top: 3%;
		}

		.login-field {
			background: #dcd9dd;
			color: black;
			width: 70%;
			font-size: 20px;
			border: 0px;
			padding: 1%;
		}

		.login-image span {
			color: black;
			font-size: 30px;
		}