	
		*{
			font-family: 'Catamaran', sans-serif;
			
		}
		body {
			margin: 0px;
		}
		.nav-icon {
			font-size: 36px;
			cursor:pointer;
			float: left;
			 color: white;
			 vertical-align: middle;
			 padding-left: 1%;
			 padding-top: 1%
		}

		/*DOCTOR PROFILE */

		
		.first {
			display: flex;			
			text-align: center;
			padding: 5%;
    		height:10%;

		}
		
		.card {
			text-align: center;
			width: 70%;
			margin: auto;
			background: white;
			padding: 1%;
			margin-top: 5%;
		    

		}
		
		
		.detail {
			text-align: left;
			width: 50%;
			
		}
		
		.pic {
			width: 50%;
		}
		
		.profile-body {
			background: lightgrey;
			width: 100%;
			margin: 0px;
			/*padding:1%;*/
		}
		.second {
			height: 50%;
		}
		

		.second ul.tab {
		    list-style-type: none;
		    margin: auto;
		    padding: 0;
		    overflow: hidden;
		    background-color: #333;
		    text-align: center;
		    display: flex;
		}

		.second ul.tab li a {
		    display: inline-block;
		    color: #f2f2f2;
		    text-align: center;
		    padding: 10px;
		    text-decoration: none;
		    transition: 0.3s;
		    font-size: 17px;
		}
		.second ul.tab li a:hover {background-color: #555;}

		/*INDEX*/

		.header {
			text-align: center;
			padding: 0.5%;
			background: #1a056d;
		}
		.logo {
			width: 30%;
		}
		.search {
			text-align: center;
		}
		.search img {
			width:15%;
			padding: 2%;
			padding-top: 13%;
		}


		.sidenav {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    background-color: #111;
		    overflow-x: hidden;
		    transition: 0.5s;
		    padding-top: 60px;
		}

		.sidenav a {
		    padding: 8px 8px 8px 32px;
		    text-decoration: none;
		    font-size: 25px;
		    color: #818181;
		    display: block;
		    transition: 0.3s;
		}

		.sidenav a:hover, .offcanvas a:focus {
		    color: #f1f1f1;
		}

		.sidenav .closebtn {
		    position: absolute;
		    top: 0;
		    right: 25px;
		    font-size: 40px;
		    margin-left: 50px;
		    color: white;
		    vertical-align: middle;
		    
		}
		#main {
		    transition: margin-left .5s;
		}


		/*DOCTOR LOGIN*/

		.login-card {
			text-align: center;
			width: 25%;
			margin: auto;
			background: white;
			padding: 2%;
			margin-top: 5%;
			min-height: 60vh;
		}

		.login-submit  {
			border: 0px;
			background: indigo;
			color: white;
			width: 30%;
			padding: 1%;
		}
		.login-details {
			padding-top: 3%;
		}

		.login-field {
			background: #dcd9dd;
			color: black;
			width: 70%;
			font-size: 20px;
			border: 0px;
			padding: 1%;
		}

		.login-image span {
			color: black;
			font-size: 30px;
		}


		/*SEARCHPAGE*/
		.second1{
		    display: flex;	
			text-align: left;
			margin-left: 10%;
			padding: 2%;
    		height:20%;
		}
		.third{
			width: 70%;
			margin-top: 25px;
		}
		.card1 {
			text-align: left;
			width: 50%;
			margin: auto;
			background: white;
			padding: 1%;
			margin-top: 2%;
			box-shadow: 0px 0px 20px #888;

		}

		.detail1 {
			text-align: left;
			width: 30%;
			margin-left: 20px;
			
		}
		.pic1{
			width: 10%;
			margin-left: -30px;
		}


		 .login{
        	text-align: center;
        	margin-left: 60%;
        	width: 30%;
        }
        .doc-detail{
        	font-size: 15px;
        }

        .doc-name{
        	font-size: 20px;
        }

		/*CONFIRMATIONPAGE*/

		.confirm{
			text-align: center;
			width: 30%;
			margin:auto;
			background: white;
			padding: 1%;
			margin-top: 5%;
			box-shadow: 0px 0px 20px #888;
		} 
		
		.login1{
			text-align: left;
			

		}
		.login2{
			margin-left: 1%;
			font-size: 20px;
			
			
		}

        .loginconform{
        	text-align: center;
        	margin-left: 1%;
        	width: 10%;
        	font-size: 15px;
        }
        
        .phonelabel{
        	font-size: 20px;
        }

        .bookid{
        	text-align: left;
        	font-size: 17px;
        	margin-left: 3%;
        }

        @media only screen and (max-width: 768px) {
			/* For mobile phones: */
			.login-card{
				width: 70%;
			    margin-top:22%; 
			    padding-bottom: 10%;
			    padding-top: 5%;
			}
			
			.nav-icon{
				font-size: 13px;
			}

			.card1 {
				width: 80%;
			}
			.detail1{
				font-size: 15px;
				width: 60%;
			}	

			.doc-detail{
	        	font-size: 10px;
	        }

	        .doc-name{
	        	font-size: 15px;
	        	width: 100%;
	        }		

	        .pic1{
	        	width: 40%;
	        }


		 	.login{
        		margin-left: 40%;
	        	width: 50%;
	        	font-size: 10px;
        	}
        	.sidenav a{
	        	font-size: 15px;
	        	padding-left: 10px;
	        }
	        .sidenav .closebtn {
	        	font-size: 20px;
	        }
	        .confirm{
	        	width: 85%;
	        	height: 85vh;
	        }
	        .phonelabel{
	        	font-size: 15px;
	        }
	        .bookid{
        		font-size: 15px;
        	}
        	.login2{
				margin-left: 1%;
				font-size: 15px;
				width:130px;
			}
			.login1{
				margin-left: 10%;
			}
			.loginconform{
				text-align: center;
				width: 80px;
				font-size: 10px;
			}
		}

		@media only screen and (max-width: 359px) {
			/* For mobile phones: */
			.login-card{
				width: 70%;
			    margin-top:22%; 
			    padding-bottom: 10%;
			    padding-top: 5%;
			}
			
			.nav-icon{
				font-size: 13px;
			}

			.card1 {
				width: 80%;
			}
			.detail1{
				font-size: 15px;
				width: 80%;
			}	

			.doc-detail{
	        	font-size: 10px;
	        }

	        .doc-name{
	        	font-size: 15px;
	        	width: 100%;
	        }		

	        .pic1{
	        	width: 50%; 
	        }


		 	.login{
        		margin-left: 40%;
	        	width: 50%;
	        	font-size: 10px;
        	}

        	.sidenav a{
	        	font-size: 15px;
	        	padding-left: 10px;
	        }
	        .sidenav .closebtn {
	        	font-size: 20px;
	        }
	        .phonelabel{
	        	font-size: 15px;
	        }
	        .bookid{
        		font-size: 15px;
        	}
        	.confirm{
	        	width: 80%;
	        	height: 85vh;
	        }
        	.login2{
				margin-left: 1%;
				font-size: 15px;
				width:130px;
			}
			.login1{
				margin-left: 5%;
			}
			.loginconform{
				text-align: center;
				width: 80px;
				font-size: 10px;
			}
		}